.meanings {
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 10px;
    height: 55vh;
    border: 10px solid rgb(105, 105, 105);
    display: flex;
    flex-direction: column;

    padding: 10px 20px;

    .phonetics {
        display: flex;
        gap: 50px;
        margin-bottom: 20px;

        audio {
            border-radius: 10px;
            background-color: inherit;
            width: 100%;
        }
    }

    h2 {
        font-size: 4vw;
        font-weight: 100;
    }

    .definition {
        padding: 1rem 2rem;
        border-radius: 10px;
        margin: 10px 0;
        transition: all 0.5s linear;
        span {
            font-weight: 600;
            font-style: italic;
        }
    }

    .dark {
        background-color: #fff;
        color: #000;
    }

    .light {
        background-color: #3b5360;
        color: #fff;
    }
}
