.container {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
}

.main {
    height: 100vh;
    transition: all 0.5s linear;
}

.dark {
    color: #fff;
    background-color: #282c34;
}

.light {
    color: #282c34;
    background-color: #fff;
}

.switch {
    position: absolute;
    top: 20px;
    right: 50px;
}
